Config(
    total_timesteps: 100000,
    rollout: (
        steps: 32,
        num_envs: 64,
        processes: 4,
    ),
    optim: (
        bs: 512,
        lr: 0.005,
    ),
    track: true,
    wandb_project_name: "pa4-enn",
    wandb_entity: "mr132816",
)
